<div class="container">
    <h3>Welcome to my web programming showcase</h3>
    <article>
        <h3>On this page I put some examples of what I am working on</h3>
        <section>
            Each section will demonstrate different parts of the different techonologies of the web application stack. You will mainly
            see Single Page applications in Angular, Vue and Polymer. The content is less important to this website - I'll
            use my interest in nature and birds along with maps where it is suitable for the main purpose as a showcase.
            <br>
            <i>Disclaimers:</i>
            Please don't reload the pages of the different apps. The Apache server is not yet geared with request url mapping.
            </p>
        </section>
        <section>
            <h3>Comparing JSON objects (lists)</h3>
            <p>My first Vue.js built with @vue/cli. You can choose two lists and compare them in the sense that each list only
                shows the elements not in the other list.</p>
            <p>The
                <label class="label label-default ext_link" ng-click="demo.loadUrl('vue/demo.html')">Vue demo</label> shows a panel with checkboxes. When you select two of them, two lists will show and you can
                compare the lists, meaning that each list will only show the elements not on the other list.
                <a href="https://github.com/asktheo/dkobscli">Vue Code on Github</a>
            </p>
        </section>

        <section>
            <p>The
                <label class="label label-default ext_link" ng-click="demo.loadUrl('artslister')">Species lists - Angular demo</label> is my first Angular app using RxJS and an API. Many thanks to
                <a href="https://www.sitepoint.com/angular-rxjs-create-api-service-rest-backend/">SitePoint.com</a>.
                <br>I used Angular-cli, routes, components and Observables consuming a Spring Boot Application, I created too.
                The layout is Bootstrap 4, which I still need to know much better.</p>
            <p>Github:
                <a href="https://github.com/asktheo/artslister">Angular 6</a> and
                <a href="https://github.com/asktheo/listers-spring">Spring project</a>
            </p>
        </section>

        <section>
            <p>The
                <label class="label label-default ext_link" ng-click="demo.loadUrl('netfuglapp')">Polymer demo</label> is my first polymer 3 app, and it's built with polymer-cli. I expanded the
                <a href="https://www.polymer-project.org/3.0/start/">Get Started of the Polymer Project</a>, which use webcomponents, routes, views and material design, with
                Ajax and Observables. Same service and same endpoints of the API are used as in the Angular example </p>
            <p>Github:
                <a href="https://github.com/asktheo/listers-polymer">Polymer project</a> and
                <a href="https://github.com/asktheo/listers-spring">Spring project</a>
            </p>
        </section>
    </article>
</div>